In [1]:
print("hello")

hello

In [2]:
age = 22
first_name = 'Oskar'

In [3]:
mes = f"My name is {first_name} and {age}old"

In [4]:
print(mes)

My name is Oskar and 22old

In [20]:
initial = "left"
position = initial
initial = "Right"

print(f"initial:{initial}, position: {position}")

initial:Right, position: left

In [ ]:
#sa typy string, float. Brak double.

# List

In [28]:
my_list = [1,2,"XD"]
my_list

[1, 2, 'XD']

In [29]:
a = [1,3,4]
b = [2,5,6]
a+b

[1, 3, 4, 2, 5, 6]

In [50]:
l = [] 
l.append("x")  #wrzucasz na koniec listy, ale mozna podac index
l.append("d")
l

['x', 'd']

In [51]:
l.pop() #w nawiasie mozna podaÄ‡ index
l

['x']

In [52]:
l.append("20")
l[0] #wysciaganie po indexie
l[1]

'20'

In [53]:
l[0:1] #ciecie listy

['x']

In [54]:
l[:] #trik: od 0 do ostatniego elementu

['x', '20']

In [55]:
l[1:]

['20']

In [56]:
l_str= "xddddddddddddheeheh" #dziala tez na stringach
l_str [4:]

'dddddddddheeheh'

In [61]:
l = [1,2,3,4]#miesznie i podmiana
l[0] = "hue"
l[3] = "x"
l

['hue', 2, 3, 'x']

In [62]:
#komentarze ##### tak
#Shift+TAB daje podpowiedzi
#tab podpowiada zmienne

# Dictionary

In [65]:
my_dictionart = {"my_key:":"my_value"}

In [69]:
my_dictionary2 = {
    "first_name": "Oskar",
    "last_name": "Speruda",
    "age": 22    
}
my_dictionary2

{'age': 22, 'first_name': 'Oskar', 'last_name': 'Speruda'}

In [71]:
info_class = {
   "num_of_students": 10,
    "details": []
}
info_class

{'details': [], 'num_of_students': 10}

In [75]:
info_class['details'] = "Christian"
info_class

{'details': 'Christian', 'num_of_students': 10}

In [76]:
info_class['details'] = []
info_class

{'details': [], 'num_of_students': 10}

In [94]:
info_class['details'].append({"first_name":"Oskar","age":22}) #dictionary w dictionary
info_class

{'details': [{'age': 29, 'first_name': 'Chri'},
  {'age': 29, 'first_name': 'Chri'},
  {'age': 22, 'first_name': 'Oskar'},
  {'age': 22, 'first_name': 'Oskar'},
  {'age': 22, 'first_name': 'Oskar'}],
 'num_of_students': 10}

In [92]:
info_class['details'][2]['first_name']

'Oskar'

In [101]:
my1d ={"key":"value1", "1":[]}
my2d ={"key":"value2", "2":"my_2_val"}
my1d.update(my2d)
my1d

{'1': [], '2': 'my_2_val', 'key': 'value2'}

In [115]:
students_names = {1: "adam", 2: "monica", 3: "lucas"}

students_names=  {4: "Oskar",
    5: "Speruda"}

In [116]:
students_names[5]

'Speruda'

In [120]:
old={1: "adam", 2: "monica", 3: "lucas"}
new={4: "wdw", 5: "ddd", 6: "ww"}
old.update(new)
old

{1: 'adam', 2: 'monica', 3: 'lucas', 4: 'wdw', 5: 'ddd', 6: 'ww'}

In [127]:
my_name = "Christian-Barra"
first = my_name[0:9]
last = my_name[10:]
last, first

('Barra', 'Christian')

In [129]:
my_name.split("-")[1] #do rozdzielenia slow w stringu, w srodku separator, potem w kwadratowym index

'Barra'

In [130]:
my_name.startswith("C")

True

In [145]:

my_name=my_name.lower();

'oskar'

In [147]:
my_name ="Oskar"
my_name[::-1] #odwrocenie lustrzane stringa

'raksO'

# Flow control

In [150]:
counter =  int(input())
if counter >1:
    print("Major of 1")
else:
    print("Minor of 1")

3
Major of 1

## FOR LOOP

In [151]:
for element in [1,2,3,4,5]:
    print(element)

1
2
3
4
5

In [152]:
str ="oskar"
for letter in str:
    print(letter)

o
s
k
a
r

In [156]:
my_dict = {"first_name":"osk","last_name":"Spr"}
for item in my_dict:
    print(item)

first_name
last_name

In [158]:
for key in my_dict:
    print(my_dict[key])

osk
Spr

# While

In [165]:
i = 0
while i < 4:
    i= i + 1
    print(i)

1
2
3
4

In [164]:
words = ["red","green","blue"]
result = ""
for element in words:
    result = result + element
    
result

'redgreenblue'

In [166]:
empty = "->"
empty.join(words)

'red->green->blue'

In [172]:
acronym =""
for element in words:
    if element[0] == "r":
        acronym =acronym+ "R"
    elif element[0] == "g":
        acronym =acronym+ "G"
    elif element[0] == "b":
        acronym =acronym+ "B"
        
acronym

'RGB'

In [175]:
count = 0
sentence = "aaaaaaaaaadwdwadwadaaaaaaaaaaaaaaaaaaaaaaa"
for letter in sentence:
    if letter == "a":
        count= count + 1
count

35

In [ ]:
numb = [1,2,3,4,5,6,7,8,9,10]
odd= []
even = []
for n in numb:
    if n % 2 == 0:
        even.append(n)
        #even= even +[number]
    else:
        odd.append(n)
odd, even

# Functions

In [189]:
def is_even(number):
    if number % 2 == 0:
        return True
    return False

In [190]:
is_even(1)

False

In [200]:
x = 10 #dunction inside the function
def tell_me_value():
    def something():
        x=11
        print(x)
    something()

In [201]:
tell_me_value()

11

In [231]:
import random
input_list = [random.randint(-1,1) for i in range(10)]

def api_call(input_list):
    list_t_f = [];
    for element in input_list:
        if element >= 0:
            list_t_f.append(True)
        else:
            list_t_f.append(False)
    return list_t_f

In [232]:
api_call(input_list)

[True, True, False, False, True, False, True, True, True, True]

In [233]:
import random
#input_list = [random.randint(-1,1) for i in range(10)]

def api_call2(input_list):
    magic_dict = {
    "bigger_0": 0,
    "lower_0": 0,
    }
    for element in input_list:
        if element > 0:
            magic_dict['bigger_0'] += 1
        elif element < 0:
            magic_dict['lower_0'] += 1
    
    return magic_dict

In [234]:
api_call2(input_list)

{'bigger_0': 5, 'lower_0': 3}

# Modules

In [235]:
# utils.py
first_name = "XD"

In [237]:
import from utils.py
print(first_name)

SyntaxError: invalid syntax (<ipython-input-237-0021c2e96cb9>, line 1)

# Build in functions

## len 
##### liczy dlugosc

In [ ]:
len(my_dict)

## input

## print

## open

In [238]:
file = open("text.txt", mode='w+')
file.write("xdddddd")
#zwraca liczbe znakow wprowadzonych

7

In [ ]:
with open ("text.txt", mode='w+') as my_file:
    my file.write("xdddddd")